<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TryOne</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
{% for el in elements %}
{{ el |safe }}
{% endfor %}

</body>
</html>

<!--<p align="left">{{ el.id }} x {{ el.parent_id }} {{ el.category_id }} x {{ el.name }}</p>-->

<!--    {% for ch in child %}-->

<!--        {% if ch.parent_id == el.category_id %}-->
<!--                <p align="center">{{ ch.id }} x {{ ch.parent_id }} x {{ ch.category_id }} x {{ ch.name }}</p>-->
<!--        {% endif %}-->

<!--    {% endfor %}-->
